{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, explicabo suscipit tenetur, quaerat molestias sit maiores numquam facere aperiam quibusdam eos, placeat nihil ducimus? Ab illo dolorem amet pariatur repudiandae!</h2>
    <p>This is the about us page</p>
    <p>At My Django App, we are passionate about crafting intuitive, high-performance web applications that solve real-world problems. Our team is dedicated to leveraging modern technologies to create seamless user experiences while continuously learning and improving. Whether it’s developing dynamic websites, exploring innovative design solutions, or building scalable backend systems, our goal is to empower users and businesses with cutting-edge digital tools. With a commitment to open-source contributions and knowledge sharing, we strive to foster a community where creativity and technology thrive together.</p>
{% endblock %}